{% extends 'base.html' %} 

{% block title%} 
 Pokemon Stats
{% endblock %}

{% block content %} 
<form action="/pokemon" method="POST">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" name="name">
      
    </div>
    <div class="form-group">
      <label for="url">Pokemon_url</label>
      <input type="text" class="form-control" id="url" name="pokemon_url">
    </div>
    
    <button type="submit" class="btn btn-primary">Submit</button>
  </form> 
  <div>
    <small>{{error}}</small>
  </div> 
        {{pokemon_info}} 

{% endblock %}