{% extends 'base.html' %}

{% block title %}
Battle Arena
{% endblock %}

{% block content %}
<h1>Battle Arena</h1>

<div class="card-container">
    {% if users %}
    {% for user in users %}
    {% if user != current_user %}
    <div class="card" style="width: 18rem;">
        <div class="card-top">
            <h5>User</h5>
        </div>
        <div class="card-body">
            <h5 class="card-title">{{user.first_name}} {{user.last_name}}</h5>
            <a href="{{url_for('main.battleroute', user_id=user.id)}}" class="btn btn-danger">Battle</a>
        </div>
    </div>
    {% endif %}
    {% endfor %}
    {% endif %}
</div>

{% endblock %}