{% extends 'base.html' %}  

{% block title%} 
    Home
{% endblock %}
<html> 
  <head>
    
{% block content %} 
  <h1 class="home_title">Pokemon Battle Elite</h1>
  </head>
  <body class="home_body">
  {% for user in users %}
  {% if user != current_user %}
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="{{url_for('static', filename='../static/images/Ash-Ketchum-PNG-Image.png')}}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{user.first_name}}</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Follow</a>
    </div>
  </div>
  {% endif %}
    {% endfor %}
    {% endblock %}
    
  </body>
</html>