{% extends 'base.html' %} 

{% block title%} 
 Your Team
{% endblock %}

{% block content %} 
<h1 class="pokemon">My Team</h1>
<body class="team-body">

  {%if my_team %}
  <table class="table table-striped table-hover table-dark">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Ability</th>
        <th scope="col">Base Stats Hp</th>
        <th scope="col">Base Stat Defense</th>
        <th scope="col">Sprite Url</th>
        <th scope="col">Sprite</th>
    
        
        
      </tr>
    </thead>
    <tbody>
      {% for poke in my_team %}
      <tr>
        <th scope="row">{{poke.name}}</th>
        <td>{{poke.ability}}</td>
        <td>{{poke.base_stats_hp}}</td>
        <td>{{poke.base_stat_defense}}</td>
        <td>{{poke.sprites}}</td>
      
        <td><img src="{{poke.sprites}}" alt="pokemon picture"></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  
  {%endif%}
{% endblock %}

  
</body>